@import "_variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

/* The following rules are only intended for the demonstration page */
.custom-card {
    width: 18rem;   
}

.custom-carousel {
    width: 27rem;
}

.custom-collapse {
    width: 45rem;
}

.custom-accordion {
    width: 45rem;
}

.custom-jumbotron {
    max-width: 45rem;
}

.custom-list {
    width: 27rem;
}
