<p>
    <a class="btn {{ if eq (.Get "outline") true}} btn-outline-{{ default "primary" (.Get "level") }}{{ else }} btn-{{ default "primary" (.Get "level") }}{{ end }} {{ with (.Get "size") }} btn-{{ . }}{{ end }}"
    data-toggle="collapse" href="#{{ .Get "id" }}" role="button" aria-expanded="{{ default (.Get "expanded") false }}" aria-controls="{{ .Get "id" }}">{{ .Get "text" }}</a>
</p>
<div class="collapse {{ .Get "classes" }}" id="{{ .Get "id" }}">
    <div class="card card-body">
        {{ .Inner }}
    </div>
</div>